<div class="w-full rounded-2xl bg-surface border border-white/10 backdrop-blur relative rounded-xl border border-white/10
         transition-all duration-300
         hover:shadow-[0_0_40px_rgba(99,102,241,0.25)]
         hover:border-indigo-400/40">

  <!-- Title -->
  @if (title()) {
    <header class="px-5 py-4">
      <h4 class=""> {{ title() }} </h4>
      @if (subtitle()) {
        <small>{{ subtitle() }}</small>
      }
    </header>
  }

  <!-- Body -->
  <div class="px-5 py-5">
    <ng-content></ng-content>
  </div>

  <!-- Footer -->
  <footer class="px-5 py-4 border-t border-white/10">
    <ng-content select="[card-footer]"></ng-content>
  </footer>

</div>
