<h2>Mi stack</h2>
<div class="mt-6 grid gap-4 xs:grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
  <app-card title="Spring Boot">
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      At vero eos et accusam et justo duo dolores et ea rebum.
    </p>
    <div card-footer class="flex flex-wrap gap-2">
      @for (chip of getChips('spring'); track chip) {
        <div class="rounded-md bg-dark-top py-0.5 px-2.5 border border-transparent text-sm text-white transition-all shadow-sm">
          {{ chip }}
        </div>
      }
    </div>
  </app-card>
  <app-card title="AWS">
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      At vero eos et accusam et justo duo dolores et ea rebum.
    </p>
    <div card-footer class="flex flex-wrap gap-2">
    @for (chip of getChips('aws'); track chip) {
      <div class="rounded-md bg-dark-top py-0.5 px-2.5 border border-transparent text-sm text-white transition-all shadow-sm">
        {{ chip }}
      </div>
    }
    </div>
  </app-card>
  <app-card title="React">
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      At vero eos et accusam et justo duo dolores et ea rebum.
    </p>
    <div card-footer class="flex flex-wrap gap-2">
    @for (chip of getChips('front'); track chip) {
      <div class="rounded-md bg-dark-top py-0.5 px-2.5 border border-transparent text-sm text-white transition-all shadow-sm">
        {{ chip }}
      </div>
    }
    </div>
  </app-card>
</div>
