<h2>Proyectos destacados</h2>
<div class="mt-6 grid gap-4 sm:grid-cols-2 lg:grid-cols-2">
  <app-card title="Tarjeta Digital" subtitle="Coopeuch">
    <p>
      Formé parte del equipo encargado de desarrollar e implementar la tarjeta de débito digital de Coopeuch.
      Encargado de desarrollar microservicios que permitieron la orquestacion entre front-end y capas inferiores que comunican con el core bancario.
    </p>
  <div card-footer class="flex flex-wrap gap-2">
    @for (chip of getChips('tdd'); track chip) {
      <div class="rounded-md bg-dark-top py-0.5 px-2.5 border border-transparent text-sm text-white transition-all shadow-sm">
        {{ chip }}
      </div>
    }
  </div>
  </app-card>
  <app-card title="Apple Pay" subtitle="Coopeuch">
    <p>
      Colaboré en el desarrollo y mantención de los microservicios de integración de tarjetas de débito y crédito Coopeuch con Apple Pay, apoyando en la resolución de incidencias y asumiendo responsabilidades del desarrollador principal cuando fue necesario.
    </p>
    <div card-footer class="flex flex-wrap gap-2">
      @for (chip of getChips('ap'); track chip) {
        <div class="rounded-md bg-dark-top py-0.5 px-2.5 border border-transparent text-sm text-white transition-all shadow-sm">
          {{ chip }}
        </div>
      }
    </div>
  </app-card>
  <app-card title="Reportería" subtitle="Coopeuch">
    <p>
      Desarrollé reporterías para el area de crédito y consumo, utilizando Spring Boot, Java y servicios de AWS (Lambda, S3, CloudWatch), optimizando el acceso a datos y mejorando la visibilidad operativa.
    </p>
    <div card-footer class="flex flex-wrap gap-2">
      @for (chip of getChips('report'); track chip) {
        <div class="rounded-md bg-dark-top py-0.5 px-2.5 border border-transparent text-sm text-white transition-all shadow-sm">
          {{ chip }}
        </div>
      }
    </div>
  </app-card>
  <app-card title="Monitoreo Dynatrace" subtitle="Coopeuch">
    <p>
      Trabajé en la implementación de Dynatrace como solución de monitoreo para algunos microservicios de la cooperativa en conjunto con un equipo externo y evaluando su viabilidad como reemplazo de CloudWatch a nivel corporativo.
    </p>
    <div card-footer class="flex flex-wrap gap-2">
      @for (chip of getChips('dyna'); track chip) {
        <div class="rounded-md bg-dark-top py-0.5 px-2.5 border border-transparent text-sm text-white transition-all shadow-sm">
          {{ chip }}
        </div>
      }
    </div>
  </app-card>
</div>
